{% extends 'base.html.twig' %}

{% block title %}Make_Sense . Connexion{% endblock %}

{% block body %}
   <div class="container center">
     <h1 class= "mt-4">Connexion</h1>
     <h6 class= "mt-2">Se connecter pour continuer</h6> 
      
     {% if error %}
     <div class="alert alert-primary" role="alert">
         A simple primary alert—check it out!
     </div>
     {% endif %}

     <form action="{{ path ('security.login') }}" method="POST">
     <div class="col-md-4 position-relative mt-4">
         <label for="username" class="form-label">Adresse email</label>
         <input type="email" class="form-control" id="username" name="_username" placeholder="exemple@makesense.fr" value="{{ last_username}}">
     </div>
     <div class="col-md-4 position-relative mt-4">
          <label for="Password" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="Password" name="_password" placeholder="********">
     </div>
     </form>
      <button type="submit" class="btn btn-danger position-relative mt-4 ">Se connecter</button>
     </div>

{% endblock %}
