{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}


{% block body %}
 create_security_connexion
    <div class="pink-stripe">
        <h1>
            Let's start coding&nbsp;&#129304;
        </h1>

  
dev
{% endblock %}
