<nav class="navbar navbar-expand-lg navbar-light border border-dark">
	<div class="container-fluid">
		<div class="nav nav-pills nav-fill col-4">
			<a class="dropdown-item" href="">
				<img class="logo" src="{{ asset('build/images/logo-makesense.png') }}">
			</a>
		</div>
		<div class="col-6 nav justify-content-end align-items-center">
			<li class="nav-item">
				<a href="#" class="fs-4 me-5 btn" type="button">
					Décisions
				</a>
			</li>
			<li class="nav-item me-5">
				<a href="#" class="fs-4 btn" type="button">
					Notification
				</a>
				{{ render(controller('App\\Controller\\NotificationController::notificationSum', {default: 'Loading...'})) }}
			</li>
			<li class="nav-item">
				<div class="dropdown">
					<a href="#" class="fs-4 me-5 btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						Mon Profil
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="fs-5 dropdown-item" href="#">Mes décisions</a>
						</li>
						<li>
							<a class="fs-5 dropdown-item" href="#">Se déconnecter</a>
						</li>
					</ul>
				</div>
			</li>
		</div>
	</div>
</nav>
