<div class="container-fluid">
	<h2 class="mt-5 text-center">Liste des notifications</h2>
	<div class="row mt-5 d-flex justify-content-center">
		<div class="col-10">
			<table class="table table-striped table-bordered">
				<thead>
					<tr class="card-bg-color text-white">
						<th class="col-4 text-center">Décision</th>
						<th class="col-4 text-center">Message</th>
						<th class="col-1 text-center">Status</th>
						<th class="col-2"></th>
					</tr>
				</thead>
				<tbody>
					<form method="POST">
						{% for notification in notifications %}
							<tr class="">
								<td class="col-4">
									<a href="{{ path('app_decision_show', { 'decision_id' : notification[0].id}) }}">
										{{ notification[0].title }}	
									</a>		
								</td>
								<td class="col-4">
									{{ constant('App\\Entity\\Notification::NOTIFICATIONS_MESSAGE')[notification[0].status]}}
								</td>
								<td	class="col-1">
									{% include 'partials/_status-button.html.twig' with 
										{
											'status': notification[0].status, 
										} 
									%}

								</td>
								{% include 'notification/button.html.twig' %}
							</tr>
						{% endfor %}
					</form>
				</tbody>
			</table>

			<div class="navigation d-flex justify-content-center">
				{{ knp_pagination_render(notifications) }}
			</div>

		</div>
	</div>
</div>
