<div class="container-fluid">
	<div class="row mt-4">
		<div class="col-6 d-flex justify-content-center m-0 p-0">
			<div class="card border-dark mb-3" style="width: 40rem;">
				<div class="card-header fs-3 text-center card-bg-color text-white">{{ decision.status }}</div>
				<div class="card-body m-0 p-0">
				
				</div>
			</div>
		</div>
	</div>
</div>
