.button-make-sense {
    color: white;
    background-color: #0d6efd;
}

.button-make-sense-department {
    border: solid 2px rgb(12, 57, 68);
    color: rgb(12, 57, 68);
    background-color: rgb(12, 57, 68, 0.1);
}

.button-make-sense:hover {
    background-color: var(--silver-tree);
}