.button-make-sense {
    border: solid 2px rgb(155, 8, 79);
    color: rgb(155, 8, 79);
    background-color: rgb(155, 8, 79, 0.1);
}

.button-make-sense-department {
    border: solid 2px rgb(12, 57, 68);
    color: rgb(12, 57, 68);
    background-color: rgb(12, 57, 68, 0.1);
}

.button-make-sense:hover {
    background-color: var(--silver-tree);
}

.button-make-sense-brouillon {
    border: solid 2px rgb(15, 8, 155);
    color: rgb(15, 8, 155);
    background-color: rgb(15, 8, 155, 0.1);
}

.button-make-sense-en-cours {
    border: solid 2px rgb(208, 88, 9);
    color: rgb(208, 88, 9);
    background-color: rgb(208, 88, 9, 0.1);
}

.button-make-sense-en-conflit {
    border: solid 2px rgb(191, 7, 13);
    color: rgb(191, 7, 13);
    background-color: rgb(191, 7, 13, 0.1);
}

.button-make-sense-en-aboutie {
    border: solid 2px rgb(46, 191, 6);
    color: rgb(46, 191, 6);
    background-color: rgb(46, 191, 6, 0.1);
}
