
.decision-card:hover {
    box-shadow: 0px 10px 20px #ccc;
    transform: scale(1.1);
    transition-duration: 0.5s;
}


.style-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2em;
}

.thumb-position {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.thumb {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    justify-content: space-between;
}


.position-user-decision {
    align-items: center;
    display: flex;
}

.status {
    border: solid 2px rgb(155, 8, 79);
    color: rgb(155, 8, 79);
    background-color: rgb(155, 8, 79, 0.1);
}


.card-department {
    border: solid 2px var(--silver-tree);
    color: var(--silver-tree);
    background-color: rgb(112, 175, 144, 0.1);
}

