//start coding by removing this file and adding yours ;)
* {
    box-sizing: border-box;
}

:root {
    --cerise-dark-color: rgb(155, 8, 79);
}

.card-bg-color {
    background-color: var(--cerise-dark-color);
}

.profil-photo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.like {
    width: 30px;
    height: 30px;
}

.logo {
    width: 150px;
    height: 30px;
}

body {
    // var (--font-heading): Raleway, Helvetica, Arial, sans-serif;
    font-family: Raleway;
    font-weight: 700;
}