* {
      box-sizing: border-box;
}

:root {
    --cerise-dark-color: rgb(6, 57, 190);
}

.card-bg-color {
    background-color: var(--cerise-dark-color);
}

.profil-photo {
    border-radius: 50%;
}

.like {
    width: 15px;
    height: 15px;
}

.logo {
    width: 100px;
    height: 10px;
}


// @font-face {
//     font-family: 'Raleway';
//     src:
//         url(/public/build/fonts/Raleway/Raleway-Bold.ttf) format('truetype')
// }

body {
// var (--font-heading) : Raleway, Helvetica, Arial, sans-serif;
     font-family: Raleway;
 }

