<div class="container-fluid">
	<div class="row mt-5 mb-5">
		<div class="col-6 d-flex justify-content-center m-0 p-0">
			{% include 'partials/_dashboard-card.html.twig' with 
				{
					'title': 'Mes dernières décisions créées', 
					'decisions' : myLastDecisions, 
					'opinions' : myLastDecisionsOpinion 
					} 
			%}
		</div>

		<div class="col-6 d-flex justify-content-center m-0 p-0">

			{% include 'partials/_dashboard-card.html.twig' with 
				{
					'title': 'Les dernières décisions créées', 
					'decisions' : allLastDecisions, 
					'opinions' : allLastDecisionsOpinion 
					} 
			%}
		</div>
	</div>


	<div class="row mt-5">
		<div class="col-6 d-flex justify-content-center m-0 p-0">
			{% include 'partials/_dashboard-card.html.twig' with 
				{
					'title': 'Mes dernièrs brouillons', 
					'decisions' : myLastDrafts,  
					} 
			%}
		</div>

		<div class="col-6 d-flex justify-content-center m-0 p-0">
			{% include 'partials/_dashboard-card.html.twig' with 
				{
					'title': 'Les dernières décisions abouties', 
					'decisions' : allLastAccomplished, 
					'opinions' : allLastAccomplishedOpinion
					} 
			%}
		</div>
	</div>
</div>
