<div class="frame d-flex align-items-center">
	<div class="container-fluid">

		<div class="row mt-5 mb-5">
			<div class="col-4 d-flex justify-content-center m-0 p-0">

				{% include 'partials/_dashboard-card.html.twig' with 
				{
					'title': 'Mes décisions', 
					'status' : 'draft',
					'decisions' : myLastDraftDecisions, 
					} 
			%}
			</div> 

			<div class=" col-4 d-flex justify-content-center m-0 p-0">

				{% include 'partials/_dashboard-card.html.twig' with 
				{
					'title': 'Mes décisions', 
					'status' : 'current',
					'decisions' : myLastCurrentDecisions, 
					} 
			%}
			</div>

			<div class="col-4 d-flex justify-content-center m-0 p-0">
				{% include 'partials/_dashboard-card.html.twig' with 
				{
					'title': 'Mes décisions', 
					'status' : 'conflict',
					'decisions' : myLastConflictDecisions, 
					} 
			%}
			</div>

		</div>

			
		<div class="row justify-content-around mt-5 mb-5">
			<div class="col-4 d-flex justify-content-center m-0 p-0">
				{% include 'partials/_dashboard-card.html.twig' with 
				{
					'title': 'Toutes les décisions', 
					'status' : 'current',
					'decisions' : allLastCurrentDecisions, 
					} 
			%}
			</div> 

			<div class="col-4 d-flex justify-content-center m-0 p-0">

				{% include 'partials/_dashboard-card.html.twig' with 
				{
					'title': 'Toutes les décisions',
					'status' : 'done', 
					'decisions' : allLastDoneDecisions, 
					} 
			%}
			</div> 

			<div class="col-4 d-flex justify-content-center m-0 p-0">

				{% include 'partials/_dashboard-card.html.twig' with 
				{
					'title': 'Toutes les décisions',
					'status' : 'undone', 
					'decisions' : allLastUndoneDecisions, 
					} 
			%}
			</div> 

		</div>

	</div>
</div>
