{% extends 'base.html.twig' %}

{% block title %}Decision - Show All !
{% endblock %}

{% block body %}
	{% include "partials/_navbar.html.twig" %}

	
		<div class="container">
			<div class="row">
				{{ form_start(form) }}
				{{ form_widget(form) }}
					<button id="search_button_decision" class="offset-5 col-2 btn text-white my-2 my-sm-0">Search</button>
				{{ form_end(form) }}
			</div>

		<div class="row mt-3 justify-content-center">

			{% for decision in decisions %}
				<div class="style-shadow mx-3 my-3 col-3">
					{% include 'partials/_decision-card.html.twig' with { 'decision': decision } %}
				</div>
			{% endfor %}
			</div>
		</div>
		<div class="navigation d-flex justify-content-center mt-3">
			{{ knp_pagination_render(decisions) }}
		</div>
	
{% endblock %}
