{% extends 'base.html.twig' %}
{% block header %}
	{% include 'partials/_navbar.html.twig' %}
{% endblock %}

{% block title %}Decision - Show All !
{% endblock %}

{% block body %}

	<div class="row justify-content-center mt-5 mb-5">
		{% for decision in decisions %}

		{% include 'partials/_decision-card.html.twig' with 
		
		{

			'href' : "{{ path('app_decision_show', {'decision_id' : decision.id } ) }}"

		}
		
		%}

		{% endfor %}

	</div>

{% endblock %}
